{% extends '::spokuwa.html.twig' %}


{% block content %}
<h1>Detailansicht Kurs</h1>

<form action="{{ path('course_view_change', {'idcourse': course.id }) }}" method="POST">
	Semester:
	<select name="semester" id="semester">
	{% for semester in semesters %}
		<option{% if [app.request.get('year'), '-', app.request.get('term')]|join == [semester.year, '-', semester.term]|join %} selected="selected"{% endif %} value="{{ semester.year }}-{{ semester.term }}">{{ semester.term }}. Semester {{ semester.year }}</option>
	{% endfor %}
	</select>
	<input type="submit" value="Wechseln">
</form>
<table>
	<tr>
		<th>Semester</th>
		<tr>
		</tr>
	</tr>
	<tr>
		<th>ID</th>
		<td>{{ course.id }}</td>
	</tr>
	<tr>
		<th>Name</th>
		<td>{{ course.name }}</td>
	</tr>
	<tr>
		<th>Lehrer</th>
		<td>{{ data.teacher }}</td>
	</tr>
	<tr>
		<th>Bereich</th>
		<td>{{ course.scope ? 'B' : 'A' }}</td>
	</tr>
	<tr>
		<th>Beschreibung</th>
		<td>{{ data.description }}</td>
	</tr>
	<tr>
		<th>Von</th>
		<td>{{ data.lessonStart }}. Stunde</td>
	</tr>
	<tr>
		<th>Bis</th>
		<td>{{ data.lessonEnd }}. Stunde</td>
	</tr>
	<tr>
		<th>Wählbar</th>
		<td>{{ data.selectable ? 'Ja' : 'Nein' }}</td>
	</tr>
	<tr>
		<th>Teilnehmer<br />Min/Mom/Max</th>
		<td>{{ data.memberMin }}/{{ data.members|length}}/{{ data.memberMax }}</td>
	</tr>
	<tr>
		{% for member in data.members %}
		<td colspan="2">{{ member.fName }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>
			<button onClick="location.href='{{ path('course_list') }}';">Zurück</button>
		</td>
		<td>
			<button onClick="location.href='{{ path('course_edit', { 'idcourse': course.id, 'year': data.year, 'term': data.term }) }}';">Bearbeiten</button>
		</td>
		<td>
			<button onClick="location.href='{{ path('course_add_semester', { 'idcourse': course.id, 'year': data.year, 'term': data.term }) }}';">In weiteren Semestern anbieten</button>
		</td>
	</tr>
</table>
{% endblock %}